In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('Mahasiswa.xlsx')

In [ ]:
list_study_programs = {
    "matematika": 1,
    "statistika": 2,
    "aktuaria": 3
}

In [ ]:
def escape_sql_string(value):
    if pd.isna(value):
        return 'NULL'
    
    value = str(value)
    value = value.replace("'", "''")
    value = value.replace("\\", "\\\\")
    return f"'{value}'"

values_list = []
for index, row in df.iterrows():
    nim = escape_sql_string(row['nim'])
    email = escape_sql_string(row['email'])
    nama = escape_sql_string(row['nama'])
    
    prodi_name = str(row['prodi']).lower().strip()
    prodi_id = list_study_programs.get(prodi_name, 1)
    
    values_list.append(f"({nim}, {email}, {nama}, {prodi_id})")

insert_sql = "INSERT INTO `students` (`id`, `email`, `name`, `study_program_id`) VALUES\n"
insert_sql += ",\n".join(values_list) + ";"
print(insert_sql)

In [ ]:
values_list = []
for index, row in df.iterrows():
    nim = escape_sql_string(row['nim'])
    values_list.append(f"({nim}, 2)")

insert_sql = "INSERT INTO `user_roles` (`user_id`, `role_id`) VALUES\n"
insert_sql += ",\n".join(values_list) + ";"
print(insert_sql)